{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index" : "byUserId",
    "query" : {
        "expression": "userId = :userId",
        "expressionValues" : {
            ":userId" : $util.dynamodb.toDynamoDBJson($ctx.args.userId)
        }
    }
}