{
    "version" : "2017-02-28",
    "operation" : "Query",
    "index" : "byUsername",
    "query" : {
        "expression": "username = :username",
        "expressionValues" : {
            ":username" : $util.dynamodb.toDynamoDBJson($ctx.args.username)
        }
    }
}